/* Add this CSS in your stylesheet or within a <style> block */
.image_section {
    background-color: #f6f6f6;
    padding: 40px 0;
    
}

.image_animation {
    width: 100%; /* Adjust the width as needed */
    max-width: 700px; /* Set a maximum width for the image */
    margin: 0 auto;
    display: block;
    transform: scale(1); /* Initial scale for animation */
    transition: transform 0.3s ease-in-out; /* Animation duration and easing */
}

.image_animation:hover {
    transform: scale(1.1); /* Scale up on hover */
}
/* Add this CSS in your stylesheet or within a <style> block */
.custom-heading {
    font-size: 28px; /* Adjust the font size as needed */
    color: #333; /* Set the text color */
    text-align: center; /* Center-align the text */
    margin-bottom: 20px; /* Add spacing at the bottom */
    /* You can add more styles like font-family, text-shadow, etc. as per your preference */
}

